* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background: #b99c9c;
    padding: 20px;
}

.icono_perfil {
    width: 35px;
    height: 35px;
}

.carousel {
    width: 400px;
    height: 300px;
}

.galeriahome {
    padding-top: 7em;
}

.imgcard {
    width: 400px;
    height: 400px;
    padding: 1em;
}

footer {
    background: #b99c9c;
    padding: 20px;
}
